<!doctype html>
<html ng-app="appMain">
  <head>
    <title>Money</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta charset="utf-8">
    <link href="stylesheet.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,400|Open+Sans+Condensed:300|Lato|Montserrat|Source+Sans+Pro:400,700italic|Varela|Poiret One|Roboto:100,300,400,900|Roboto+Slab| Roboto+Condensed' rel='stylesheet' type='text/css'>
    <link rel="icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-route.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>
    <script src='https://cdn.firebase.com/v0/firebase-simple-login.js'></script>
    <script src="app.js"></script>
  </head>
  <body ng-controler="MainController">
    <div class="wrapper">
      <header>
        <a href="#">walle<span class="greenify">trak</span></a>
        <nav>
          <a href="about.html">about</a>
          <a href="contact.html">contact</a>
          <a href="#">login</a>
        </nav>
      </header>
      <span class="headerbackcolor"></span>

      <div id="main">
        <div ng-view>
        </div>
      </div>



      <section class="banner">
        <h1>walle<span class="greenify">trak</span></h1>
        <h3>Making sure you don't go broke</h3>
      </section>
      
      <form id="auth" ng-controller="AuthController">
        <fieldset ng-hide="user">
          <input type="email" placeholder="email" ng-model="email"/>
          <input type="password" placeholder="password" ng-model="password"/>
          <button type="submit" ng-click="signIn()">Sign In</button>
          <button type="submit" ng-click="signUp()">Sign Up</button>
        </fieldset>
        <span ng-show="user">
          {{user}}
          <button type="submit" ng-click="logout()">Log Out</button>
        </span>
        <p>{{message}}</p>
      </form>
      <p ng-show="user.auth">{{auth.user.email}}</p>

      <div class="moneytrackerwrapper" ng-controller="MoneyTrackerController">
        <h1>Money Tracking</h1>
        <input id="searchfilter" type="text" placeholder="Search" ng-model="search">
        <ul>
          <li class="nohovereffects">
            <span>
              <span>Date</span>
              <span>Transaction</span>
              <span>Cost</span>
            </span>
          </li>
          <li id="entrydisplay" ng-repeat="entry in entries | filter:search | descending:this" >
            <span>
              <span>{{entry.date}}</span>
              <span>{{entry.text}}</span>
              <span data-price="{{entry.value}}">${{entry.value}}</span>
              <button ng-click="removeEntry(entry)">X</button>
            </span>
          </li>
          <li class="nohovereffects listresults">
            <span>
              <span>Total Items: {{(entries | filter:search).length}}</span>
              <span>Total Cost: ${{sum}}</span>
            </span>
          </li>
        </ul>
        <form class="inputpurchase" ng-submit="addEntry()">
          <input type="text" ng-model="entryName" placeholder="Purchase Name">
          <input type="text" ng-model="entryValue" placeholder="$">
          <input type="submit" value="Add">
        </form>
      </div>
    </div>
  </body>
</html>